extends layout
 
block content

        div.text-center
            form(class="form-signin" method="POST" action="/add_digi")
                #error
                    if error
                        p.text-danger Error!!!

                - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
                h1= title
                p Upload your Digital Assets #{title}
                
                //-input ID
                label(for="inputMain_account_id" class="sr-only") Enter your Main_account_id
                input(type="Main_account_id" name="Main_account_id" id="inputMain_account_id" class="form-control" placeholder="Main_account_id" required)

                label(for="inputdigi_name" class="sr-only") Enter your Digital Assets name
                input(type="digi_name" name="digi_name" id="inputFname" class="form-control" placeholder="Enter your Digital Assets name" required)
                                
                label( for="inputdigi_type" class="sr-only") Enter your digi_type
                input(type="digi_type" name="digi_type" id="inputdigi_type" class="form-control" placeholder="digi_type" required autofocus)

                label( for="Assets_Value" class="sr-only") Assets Value
                input(type="digi_value" name="digi_value" id="Assets_Value" class="form-control" placeholder="digi_value" required autofocus)
                
                label( for="Allocate_Percentage" class="sr-only") Allocate Percentage
                input(type="digi_perce" name="digi_perce" id="Allocate_Percentage" class="form-control" placeholder="digi_perce" required autofocus)
                
                //-input(type='submit', name='uploadimage', value='Upload Image')
                //-remember Checkbox
                //- var divClasses=['checkbox', 'mb-3'];
                //-div(class=divClasses)
                    label
                        input(type="checkbox" value="remember-me")
                        span Remember me
                
                //-signIn button
                
                - var buttonClass=['btn', 'btn-lg', 'btn-primary'];
                
                    //- button(class=buttonClass type="submit") Submit
                script.
                    function popup() {
                       popupS.confirm({
                       content: 'Please confirm',
                       labelOk: 'Yes',
                       labelCancel: 'No',
                       onSubmit: function() {
                       window.location.href = "/index"
                       },
                       onClose: function() {
                       console.log(':(');
                       }
                    });
                    }
                td

                button(class=buttonClass onclick="popup()") Click to Update
        