extends layout

block content
        div.text-center
            form(class="form-signin" method="POST" action="/mod")
                #error
                    if error
                        p.text-danger Error!!!

                - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
                h1= title
                p Upload your Nominee Details to #{title}
                //-input ID
                label(for="inputId" class="sr-only") Enter your Account ID
                input(type="Stock_Name" name="Stock_Name" id="inputId" class="form-control" placeholder="Enter your Stock_Name" required)
                label( for="inputQuantity" class="sr-only") Please enter the phone no.
                input(type="Quantity" name="Quantity" id="inputQuantity" class="form-control" placeholder="Quantity" required autofocus)
                //-input comment
                label( for="inputAccount" class="sr-only") Please modify your will carefully
                input(type="account" name="account" id="inputAccount" class="form-control" placeholder="Will modify your account" required autofocus)
                
                //-input(type='submit', name='uploadimage', value='Upload Image')
                //-remember Checkbox
                //- var divClasses=['checkbox', 'mb-3'];
                //-div(class=divClasses)
                    label
                        input(type="checkbox" value="remember-me")
                        span Remember me

                //-signIn button
                - var buttonClass=['btn', 'btn-lg', 'btn-primary'];
                
                    //- button(class=buttonClass type="submit") Submit
                script.
                    function popup() {
                       popupS.confirm({
                       content: 'Click yes to Confirm',
                       labelOk: 'Yes',
                       labelCancel: 'No',
                       onSubmit: function() {
                       window.location.href = "/index"
                       },
                       onClose: function() {
                        window.location.href = "/mod"
                       }
                    });
                    }
                td
                button(class=buttonClass onclick="popup()") Click to Update
        div.text-center
            form(class="form-signin" method="POST" action="/inst")
                #error
                    if error
                        p.text-danger Error!!!

                - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
                h1= title
                p Upload your Nominee Details to #{title}
                //-input ID
                label(for="inputId" class="sr-only") Stock_Name
                input(type="Stock_Name" name="Stock_Name" id="inputId" class="form-control" placeholder="Enter your Stock_Name" required)
                label( for="inputQuantity" class="sr-only") Stock_Name
                input(type="Quantity" name="Quantity" id="inputQuantity" class="form-control" placeholder="Quantity" required autofocus)
                //-input comment
                label( for="inputAccount" class="sr-only") Account
                input(type="account" name="account" id="inputAccount" class="form-control" placeholder="Account" required autofocus)
                
                label( for="inputStockPrice" class="sr-only") Please modify your will carefully
                input(type="Stock_Price" name="Stock_Price" id="inputStockPrice" class="form-control" placeholder="Stock_Price" required autofocus)
                //-input(type='submit', name='uploadimage', value='Upload Image')
                //-remember Checkbox
                //- var divClasses=['checkbox', 'mb-3'];
                //-div(class=divClasses)
                    label
                        input(type="checkbox" value="remember-me")
                        span Remember me

                //-signIn button
                - var buttonClass=['btn', 'btn-lg', 'btn-primary'];
                
                    //- button(class=buttonClass type="submit") Submit
                script.
                    function popup() {
                       popupS.confirm({
                       content: 'Click yes to Confirm',
                       labelOk: 'Yes',
                       labelCancel: 'No',
                       onSubmit: function() {
                       window.location.href = "/index"
                       },
                       onClose: function() {
                        window.location.href = "/mod"
                       }
                    });
                    }
                td
                button(class=buttonClass onclick="popup()") Click to insert